

.h1 {
  font-size: 40px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home,
.education,
.skills {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.social-link {
  font-size: 2.5rem;
  color: rgb(7, 48, 51);
  /* margin-bottom: 10px; */
  margin-left: 10px;
  cursor: e-resize;
}
.social-link:hover {
  color: rgb(75, 201, 37);
}


.profile-name {
  /* text-align: center; */
  font-size: 70px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 80px;
  text-transform: uppercase;
  font-family: 'Russo One';
  font-weight: 400;
}
/* .profile-name::after {
  content: '';
  display: block;
  height: 1px;
  width: 8em;
  background: black;
  margin: 0.5em auto;
} */

.profile-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.0rem;
  letter-spacing: 1.5px;
  color: rgb(7, 48, 51);
  margin-bottom: 20px;
  margin-left: 50px;
}

.profile-body {
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50px;
  width: 50%;
}


.ed-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1.75px;
  color: rgb(7, 48, 51);
  margin-left: 50px;
}

.ed-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 1.75px;
  color: rgb(7, 48, 51);
  margin-left: 50px;
  margin-top: 80px;
}

.ed-body {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  color: rgb(7, 48, 51);
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 10px;
}

.dates {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  color: rgb(75, 201, 37);
  
  margin-left: 50px;
}



.skills-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 1.75px;
  color: rgb(7, 48, 51);
  margin-left: 50px;
  margin-top: 80px;
}
.checklist {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: 1.5px;
  color: rgb(75, 201, 37);
  margin-bottom: 10px;
  margin-left: 10px;
}

.checklist:hover {
  color: darkgrey;
}

.logo-list {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  color: rgb(75, 201, 37);
  margin-bottom: 10px;
  margin-left: 50px;
}
.logo-list:hover {
  color: darkgrey;
}

.pro-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 1.75px;
  color: rgb(7, 48, 51);
  margin-left: 50px;
}

.pro-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1.75px;
  color: rgb(7, 48, 51);
  margin-left: 50px;
}

.pro-body {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  color: rgb(7, 48, 51);
  margin-bottom: 10px;
  margin-left: 50px;
}

.pro-details {
  margin: 0;
  /* text-transform: uppercase; */
  font-size: 1.0rem;
  letter-spacing: 1.5px;
  color: rgb(75, 201, 37);
  margin-bottom: 10px;
  margin-left: 50px;
  width: 50%;
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
/* } */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
